<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  
  <button class="navbar-toggler p-0 border-0 mr-4" type="button" data-taggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <a class="navbar-brand mr-auto " href="/u">Concetto</a>
      
  <div *ngIf="loggedIn" class="btn-group float-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="material-icons" style="color: white; cursor: pointer;">
      settings
      </span>
    <div class="dropdown-menu dropdown-menu-right ">
      <button class="dropdown-item" type="button" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>


  