
<div class="container">
    <h1 class="display-4 mt-3">{{subject.name || ""}}</h1>
    <div class="mt-3">
        <button type="button" class="btn btn-info mr-2" (click)="onAddButtonPress()">Add</button>
        <button type="button" class="btn btn-warning" (click)="onEditButtonPress()">Edit</button>
    </div>

    <div class="progress mt-3">
        <div class="progress-bar bg-secondary" role="progressbar" [style]="incorrectProgressStyle" [aria-valuenow]="incorrectProgressAriaValueNow" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar " role="progressbar" [style]="goodProgressStyle" aria-valuenow="goodProgressAriaValueNow" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" [style]="perfectProgressStyle" aria-valuenow="perfectProgressAriaValueNow" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div *ngIf="renderViewConcept; else completion_message">
        <app-view-concept 
            [concept]="concept"
            (goodPressed)="onGoodButtonPressed()"
            (perfectPressed)="onPerfectButtonPressed()"
            (incorrectPressed)="onIncorrectButtonPressed()">
        </app-view-concept>
    </div>
    <div >
        <ng-template #completion_message>
            <p class="lead text-center mt-3">Great work!</p>
            <p class="lead text-center">Next review date: </p>
        </ng-template>
    </div>

</div>