<div role="main" class="container">
    <div class="text-center p-3 my-3 text-white-50 bg-green rounded shadow-sm">
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100 ">Learn something new!</h6>
      </div>
    </div>
    
    <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent activity</h6>
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small border-botom border-gray">
        <strong class="d-block text-gray-dark"> Route guard</strong>  
      Tes test test
      
      </p>
    </div>
  </div>
  
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Need to review</h6>
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small border-botom border-gray">
        <strong class="d-block text-gray-dark"> Route guard</strong>  
      Tes test test
      
      </p>
    </div>
  </div>
</div>