<div class="container">
  <div *ngIf="finishing" class="mt-4">
    <h1 class="d-inline"> Finishing saved concepts...</h1>
    <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#exampleModal">
      {{selectedSubject.name}} <span class="badge badge-light">{{conceptsToFinish.length}}</span>
    </button>
  </div>
  <form  #conceptForm="ngForm">
  <div class="container vh-80">
    <div  *ngIf="showMessage" class="alert alert-info alert-dismissible fade show my-3 break-word" role="alert">
      {{showMessageContent}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
        <span aria-hidden="true"><span aria-hidden="true">&times;</span></span>
      </button>
    </div>
    <div class="input-group mt-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="subjectSelect">Subject</label>
      </div>
      <select #subjectOption = "ngModel" [(ngModel)]="concept.subject.id" class="custom-select" id="subjectSelect" name="subjectSelect" (change)="onOptionChange($event)" required>
        <option *ngFor="let subject of subjects" [value] ="subject.id" [selected]="subject.selected == true">{{subject.name}}</option>
      </select>
    </div>
    <div class="form-group my-2">
      <label for="nameInput">name
        <span *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
          <span *ngIf="nameInput.errors.required" class = "text-danger">{{nameReqError}}</span>
          <span *ngIf="nameInput.errors.minlength" class = "text-danger">{{nameMinError}}</span>
          <span *ngIf="nameInput.errors.maxlength" class = "text-danger">{{nameMaxError}}</span>
        </span>
      </label>
      <input #nameInput = "ngModel" [(ngModel)]="concept.name" id="nameInput" name="nameInput" class="form-control form-control-lg my-1" type="text" placeholder="name of concept" 
      required minlength="1" maxlength="100" >
    </div>
      <div class="form-group">
       
          <label for="explanationTextArea">explanation
            <span *ngIf="explanationTextArea.invalid && (explanationTextArea.dirty || explanationTextArea.touched)"> 
              <span *ngIf="explanationTextArea.errors.maxlength" class = "text-danger">{{explanationMaxError}}</span>
            </span>
          </label>
          <textarea  #explanationTextArea="ngModel" [(ngModel)]="concept.explanation" id="explanationTextArea" name="explanationTextArea" class="form-control vh-50" rows="3" 
          required minlength="1" maxlength="255"></textarea>
      </div>

      <div class="form-group">
          <label for="exampleFormControlFile1">upload an image</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1" disabled>
      </div>

      <div class="mt-3">
          <div class="form-check">
              <input [(ngModel)]="concept.reviewed" id="reviewedCheckBox" name="reviewedCheckBox" class="form-check-input" type="checkbox" required>
              <label class="form-check-label" for="reviewedCheckBox">
                I reviewed what I didn't know
              </label>
            </div>
            <div class="form-check">
              <input [(ngModel)]="concept.simplified" id="simplifiedCheckBox" name="simplifiedCheckBox" class="form-check-input" type="checkbox" required>
              <label class="form-check-label" for="simplifiedCheckBox">
                I simplified the language used
              </label>
            </div>
      </div>
      <div *ngIf="adding" class="d-flex justify-content-center mt-3">
          <button id="doneButton" name="doneButton" type="button" [disabled]="!conceptForm.form.valid" (click)="onConceptSubmit(true)" class="btn btn-lg btn-success mr-2">done</button>
          <button id="saveButton" name="saveButton" type="button" [disabled]="!nameInput.valid " (click)="onConceptSubmit(false)" class="btn btn-lg btn-primary ml-2">save</button>
      </div>
      <div *ngIf="updating" class="d-flex justify-content-center mt-3">
        <button id="updateButton" name="updateButton" type="button" [disabled]="!conceptForm.form.valid" (click)="onConceptUpdate()" class="btn btn-lg btn-warning mr-2">update</button>
      </div>
  </div>
</form>

<div *ngIf="finishing" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedSubject.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li *ngFor="let concept of conceptsToFinish" class="list-group-item list-group-item-action" [ngClass]="{'active' : concept.selected}" >{{concept.name}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

</div>